* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(152, 196, 215);
  overflow-x: hidden;
}

nav {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(126, 140, 145);
  width: 100vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

nav h1 {
  margin: auto;
  padding-top: 1vh;
  width: fit-content;
  height: fit-content;
}

.fullBody {
  width: 100vw;
  height: fit-content;
  display: flex;
}

aside {
  padding-top: 5px;
  width: 25%;
  background-color: rgb(161, 207, 191);
  padding-left: 20px;
  padding-right: 7px;
  min-height: 100vh;
}

.filterTitle {
  text-align: center;
  width: 100%;
}

.filters {
  margin-top: 40%;
  height: fit-content;
}

.filters * {
  width: 100%;
}

.filterHolder {
  height: fit-content;
}

#submit {
  margin-top: 20px;
  border-radius: 5%;
  transition: all 0.3s ease;
}
#submit:hover {
  background-color: #7ed57b;
  border: 1px solid #000000;
}

.cardHolder {
  width: 75%;
  height: fit-content;
  overflow: hidden;
}

.card * {
  max-width: 100%;
}

.card {
  float: left;
  margin: 5px;
  width: 35%;
  height: 250px;
  text-align: center;
  align-content: center;
  border: 3px solid rgb(78, 62, 62);
  border-radius: 10%;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: #c6ca93;
  border: 1px solid #b5ce70;
}
