* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(152, 196, 215);
  overflow-x: hidden;
}

nav {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(126, 140, 145);
  width: 100vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

nav h1 {
  margin: auto;
  padding-top: 1vh;
  width: fit-content;
  height: fit-content;
}

.fullBody {
  width: 100vw;
  height: fit-content;
  display: flex;
}

aside {
  padding-top: 5px;
  width: 25%;
  background-color: rgb(161, 207, 191);
  padding-left: 20px;
  padding-right: 7px;
  min-height: 100vh;
}

.filterHead {
  text-align: center;
  width: 100%;
}

.filters {
  margin-top: 5px;
  height: fit-content;
}

.filters * {
  width: 100%;
}

.filterHolder {
  height: fit-content;
}

#submit {
  margin-top: 5px;
  border-radius: 5%;
}

.cardHolder {
  width: 75%;
  height: fit-content;
  overflow: hidden;
}

.card * {
  max-width: 100%;
}

.card {
  float: left;
  margin: 5px;
  width: 35%;
  height: 275px;
  text-align: center;
  align-content: center;
  border: 1px solid black;
}
